.d-flex {
	display: flex !important;

}

.cs-l-main {
	position: relative;
	min-height: calc(100vh - 330px);
}
.fade:not(.show){
	opacity: 1 !important;
}
// 公告 //
.global-announcement {
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 0px;
	color: #2f2f2f !important;
	padding-left: 15px;
	border: solid 1px #ffeba2;
}

.global-alert {
	background-color: #fffaea;
	position: absolute;
	top: 0;
	z-index: 22;
	width: 100%;
	opacity: 0.95;
}

.global-alert-wrapper.container {
	max-width: 1240px;
	width: 100%;
	font-size: 14px;

}

.global-alert-wrapper {
	padding: 10px 20px;
}

.align-items-start {
	align-items: flex-start !important;
}

.badge {
	background-color: $main-blue;
	font-size: 14px;
	padding: 4px 10px;
	margin-right: 12px;
	color: #fff !important;
	border-radius: 3px;
	font-weight: 100;
}
.iconLogin{
	margin:0px 6px;
	padding:0px;
}
// seven //

.block_section_title {
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $main-blue;
	text-align: left;
	margin-bottom: 6px;
}

.cs-l-container {
	width: 100%;
	min-width: 1280px;
}

.act_title {
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;

	color: #4a4a4a;
	text-align: left;
}

.activity_text {
	padding:0 25px;
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: space-between;
}

.act_content {
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	color: #767676;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 4.5em;
	line-height: 1.5em;
}
button.close{
	width:10px;
	color:#f7b54e;
	&:hover,&:active,&:focus{
		color:#f7b54e;
	}
}
.act_note {
	font-size: 13px;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.69;
	letter-spacing: normal;
	color: #215eb1;
	text-align: left;
}



.block_section {
	max-width: 600px;

	@include rwd-max-width(1280px) {
		max-width: 49%;
	}
}

.activity_swiper {
	justify-content: center;
	align-items: stretch;
}


@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05)
	}

	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05)
	}

	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse
}

.actitvity_wrap {
	background-color: #ededed;
	padding: 36px 35px 42px;

	.img-responsive {
		width: 100%;
		max-width: 257px;
		height: 100%;
		// overflow: hidden;
		&:hover  {
			animation-name: pulse;
			animation-duration: 1s;


		}
	}
	
}

// 新聞區塊
.news_wrap {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
	border: solid 1px #e0e0e0;
	background-color: #ffffff;
	padding: 19px 22px 0px;
	height: calc(100% - 33px);
	  font-size: 14px;

	li {
		position: relative;
		padding: 17px 0px;
		border-bottom: 1px solid #e2e2e2;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-left: 15px;
		&:last-child{
			border-bottom:0px;
		}
		&:hover {
			background-color: #f5f6f7;
		}

		span.newsDay {
			color: $main-blue;
			padding-right: 7px;
			
		}
	}

	ul li::before {
		content: "\2022";
		color: #88ceff;
		display: inline-block;
		width: 8px;
		position: absolute;
		left: 0px;
	}
}

.news_title {
	display: flex;
	justify-content: space-between;

	a.link_more {
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: $main-blue;
	}
}

// footer
.cus_time {
	color: white;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.58;
	letter-spacing: normal;
	padding: 8px 0 16px;
}

.corp_logo {}

.f-recommandLinkLogo {
	width: 158px;
}

.f-logo-white {
	width: 106px;
	margin-left: 10px;
}

.footer_function_link {
	display: flex;
	@include rwd-min-width(1100px){
		margin-left: -85px;

	}
	
	ul {
		flex-direction: column;

		li {
			padding: 0px 100px 5px 0px;
		}
	}
}

.footer-img-icon {
	width: 30px;
	margin: 0px 7px;
}

.footerWrap.footer_all_rights_reserve {
	min-height: 55px;
	align-items: center;
}

.FlexColumnTop {
	flex-direction: column;
}

// 側邊
.sideFunction {
	display: flex;
	z-index: 150;
	position: fixed;
	right: 0px;
	transition: all ease-in-out .5s;





	.sideFixedBtn {
		background-color: #848484;
		width: 70px;
		height: 70px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		cursor: pointer;

		&.active {
			background-color: $main-blue;
		}

		&:hover {
			// background-color: #00a94f;
			background-color: $main-blue;
		}

		img {
			max-width: 25px;

		}

		p {
			font-size: 12px;
			font-weight: 500;
			text-align: center;
			color: #ffffff;
			padding: 3px;
		}
	}
}

.sideRemark {
	font-size: 13px;
	padding-top: 7px;
}
.vaildNumber{
	margin-left:10px;
	padding:0px;
}
.sideFunctionBox {
	width: 360px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	background-color: #fff;
	padding: 22px 30px 0px;
	min-height: 370px;


	.sideFunctionTitle {
		font-size: 24px;
		padding-bottom: 8px;
		color: $main-blue;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		display: flex;
		justify-content: space-between;
		align-items: flex-end;


		span {
			font-size: 13px;
		}

		a.editor span {
			color: #00994e;
			text-decoration: underline;
		}

		.editorActice {
			i:before {
				content: "\e906";
			}
		}

	}

	.sideFunctionClose {
		font-size: 25px;
		cursor: pointer;
		position: absolute;
		right: 12px;
		top: 12px;
	}

	.sideFunctionIcon {
		padding: 15px;
		background-color: #d8d8d8;
		border-radius: 50px;
		color: $main-blue;
	}
}

.sideFunctionSubTitle {
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #4a4a4a;
	margin-top: 17px;
	margin-bottom: 9px;
}
.secondTitle{
	margin-top:13px;
}

// 我的最愛側邊\
.myFavorBox {
	@include rwd-max-width(640px) {
		padding: 30px 7px;

		.sideFunctionTitle {
			margin: 0px 28px;
		}
	}
}

// 匯率側邊
.rateExchangeBox {
	@include rwd-max-width(374px) {
		padding: 30px 5px;


	}
}

.favorFunction {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	i {
		font-size: 30px;
	}

	.smallDelete {
		display: none;
		font-size: 12px;
	}

	.favorOuter {
		width: 33%;
	}

	.choosedFavor {
		position: relative;
		cursor: pointer;
		// width: 115px;
		height: 115px;
		margin: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		// margin-top: 15px;
		padding-top: 15px;

		&:hover {
			background-color: #fff;
			border-radius: 8px;

			.sideFunctionIcon {
				background-color: $main-blue;
				color: #fff;
			}

			.smallDelete {
				display: block;
				position: absolute;
				width: 23px;
				height: 23px;
				top: 5px;
				padding: 4px;
				border: 2px solid #9b9b9b;
				border-radius: 20px;
				right: 5px;
			}


		}
	}

	.choosedFavorHover {

		background-color: #fff;
		border-radius: 8px;

		.sideFunctionIcon {
			background-color: #edf3e9;
		}

		.smallDelete {
			display: block;
			position: absolute;
			width: 23px;
			height: 23px;
			top: 5px;
			padding: 4px;
			border: 2px solid #9b9b9b;
			border-radius: 20px;
			right: 5px;
		}



	}

	p {
		padding: 5px;
		font-size: 14px;
		line-height: 1.29;
		text-align: center;
		color: #4a4a4a;
	}

	.addSetting {
		height: 115px;

		p {
			color: #00994e;
		}

	}
}


.closeFunction {

	right: -360px;



}

.mt-30 {
	margin-top: 30px;
}

button:focus {
	outline: none;
}

.btn-light-blue {
	background-color: #66aaf1;
	color: #fff;
	cursor: pointer;

	&:hover {
		color: #fff;
	}
}

.queryItemBtn {
	text-align: center;
	margin: 33px auto;

	.btn-light-blue {
		padding: 8px 33px;
	}
}

.sell_logo {
	width: 27px;
	height: 20px;
	vertical-align: text-bottom;
}

// 專門for ie 
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.footerWrap.footer_all_rights_reserve{
		margin-top:20px;
	}
	.actitvity_wrap {
		margin-right: 30px;
	}
	.actitvity_wrap {

		.img-responsive {
			width: auto;
			}
		}
	.activity_text{
		display: inline-block;
		.act_title{
			margin-bottom: 12px;
		}
		.act_note{
			margin-top:30px;
		}
	}
}