/*------------------------     slider     ------------------------*/
.cs-l-mainKv {
	position: relative;
	background-color: rgba($main-blue, 0.8);
}

.cs-l-mainKv:before,
.cs-l-mainKv:after {
	content: " ";
	display: table;
}

.cs-l-mainKv:after {
	clear: both;
}

.cs-l-mainKv__nav {
	position: absolute;
	bottom: 15px;
	width: 100%;
	text-align: center;
}

@media only screen and (min-width: 960px) {
	.cs-l-mainKv--pd\@t {
		padding: 0 15px;
	}

	.cs-l-mainKv__nav {
		position: absolute;
		bottom: 35px;
	}

	.cs-l-mainKv__nav--sm {
		bottom: 20px;
	}

	.cs-l-mainKv__nav--xs {
		bottom: 10px;
	}
}

.cs-c-banner {
	position: relative;
	float: left;
	width: 100%;
}

.cs-c-banner__background {
	width: 100%;
	height: 335px;
	background-position: center center;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

.cs-c-banner__text {
	width: 100%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 0 0 0 40px;
}

.cs-c-banner__text--right {
	text-align: right;
	padding: 0 40px 0 0;
}

.cs-c-banner--sm .cs-c-banner__background {
	height: 207px;
	background-position: center center;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

.cs-c-banner--sm .cs-c-banner__text {
	width: 100%;
	position: absolute;
	top: 42%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 0 0 0 20px;
}

.cs-c-banner--sm .cs-c-banner__text--right {
	text-align: right;
	padding: 0 20px 0 0;
}

.cs-c-banner--xs .cs-c-banner__background {
	height: 170px;
	background-position: center center;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

.cs-c-banner--xs .cs-c-banner__text {
	width: 100%;
	position: absolute;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 0 0 0 20px;
}

.cs-c-banner--xs .cs-c-banner__text--right {
	text-align: right;
	padding: 0 20px 0 0;
}

@media only screen and (min-width: 960px) {
	.cs-c-banner__background {
		width: 100%;
		height: 400px;
		background-position: center center;
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.cs-c-banner__text {
		position: absolute;
		left: 0;
		top: 48%;
		padding: 0 0 0 60px;
	}

	.cs-c-banner__text--right {
		padding: 0 60px 0 0;
	}

	.cs-c-banner--sm .cs-c-banner__background {
		height: 250px;
	}

	.cs-c-banner--sm .cs-c-banner__text {
		position: absolute;
		left: 0;
		padding: 0 0 0 60px;
	}

	.cs-c-banner--sm .cs-c-banner__text--right {
		padding: 0 60px 0 0;
	}

	.cs-c-banner--xs .cs-c-banner__background {
		height: 200px;
	}

	.cs-c-banner--xs .cs-c-banner__text {
		position: absolute;
		left: 0;
		top: 48%;
		padding: 0 0 0 40px;
	}

	.cs-c-banner--xs .cs-c-banner__text--right {
		padding: 0 40px 0 0;
	}
}

.cs-c-bannerText {
	display: inline-block;
	max-width: 195px;
	text-align: left;
}

.cs-c-bannerText__title {
	margin-bottom: 5px;
	font-size: 24px;
	color: #333333;
}

.cs-c-bannerText__slogan {
	display: block;
	font-size: 16px;
	line-height: 1.35;
	overflow: hidden;
	margin-bottom: 18px;
	color: #333333;
}

.cs-c-bannerText--sm {
	max-width: 190px;
}

.cs-c-bannerText--sm .cs-c-bannerText {
	color: #333333;
}

.cs-c-bannerText--sm .cs-c-bannerText__title {
	margin-bottom: 5px;
	font-size: 20px;
}

.cs-c-bannerText--sm .cs-c-bannerText__slogan {
	display: block;
	font-size: 14px;
	line-height: 1.35;
	overflow: hidden;
	margin-bottom: 10px;
}

.cs-c-bannerText--sm .cs-c-bannerText--light .cs-c-bannerText--sm .cs-c-bannerText__title,
.cs-c-bannerText--sm .cs-c-bannerText--light .cs-c-bannerText--sm .cs-c-bannerText__slogan {
	color: #fff;
}

.cs-c-bannerText--xs .cs-c-bannerText {
	color: #333333;
}

.cs-c-bannerText--xs .cs-c-bannerText__title {
	margin-bottom: 5px;
	font-size: 20px;
}

.cs-c-bannerText--xs .cs-c-bannerText__slogan {
	display: block;
	font-size: 14px;
	line-height: 1.35;
	overflow: hidden;
	margin-bottom: 10px;
}

.cs-c-bannerText--xs .cs-c-bannerText--light .cs-c-bannerText--xs .cs-c-bannerText__title,
.cs-c-bannerText--xs .cs-c-bannerText--light .cs-c-bannerText--xs .cs-c-bannerText__slogan {
	color: #fff;
}

.cs-c-bannerText--light .cs-c-bannerText__title,
.cs-c-bannerText--light .cs-c-bannerText__slogan {
	color: #fff;
}

.cs-c-bannerText--light .cs-c-bannerText__title {
	border-color: #fff;
}

.cs-c-bannerText--grn .cs-c-bannerText__title,
.cs-c-bannerText--grn .cs-c-bannerText__slogan {
	color: #2e78c7;
}

.cs-c-bannerText--grn .cs-c-bannerText__title {
	border-color: #2e78c7;
}

@media only screen and (min-width: 960px) {
	.cs-c-bannerText {
		max-width: 320px;
	}

	.cs-c-bannerText__title {
		margin-bottom: 10px;
		font-size: 40px;
	}

	.cs-c-bannerText__slogan {
		display: block;
		font-size: 20px;
		overflow: hidden;
		margin-bottom: 40px;
		color: #333333;
	}

	.cs-c-bannerText--sm {
		width: 300px;
	}

	.cs-c-bannerText--sm .cs-c-bannerText__title {
		margin-bottom: 10px;
		font-size: 30px;
		line-height: normal;
	}

	.cs-c-bannerText--sm .cs-c-bannerText__slogan {
		display: block;
		font-size: 18px;
		line-height: 1.5;
		overflow: hidden;
		margin-bottom: 18px;
	}

	.cs-c-bannerText--xs {
		width: 270px;
	}

	.cs-c-bannerText--xs .cs-c-bannerText__title {
		margin-bottom: 10px;
		font-size: 30px;
		line-height: normal;
	}

	.cs-c-bannerText--xs .cs-c-bannerText__slogan {
		display: block;
		font-size: 16px;
		line-height: 1.5;
		overflow: hidden;
		margin-bottom: 10px;
	}
}

@media only screen and (min-width: 960px) {
	.cs-l-windDirectionSlider {
		padding: 0 40px;
	}
}

/* ==========================================================================
   slick 套件修改
   ========================================================================== */
.actitvity_wrap {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
}

.actitvity_wrap.slick-initialized {
	visibility: visible;
	opacity: 1;
}
   .slick-initialized .slick-slide {
	outline: 0;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

.slick-dots {
	margin: 0;
	padding: 0;
	position: static;
}
//   .slick-slide {
// 	  margin: 0 20px;
//   }

  /* the parent */
//   .slick-list {
//   	margin: 0 -20px;
//   }

.slick-dots li {
	display: inline-block;
	font-size: 0;
	width: 10px;
	height: 10px;
	margin: 0 3px;
}

.slick-dots li button {
	border: transparent;
	outline: none;
	background: transparent;
	width: 10px;
	height: 10px;
	cursor: pointer;
	position: relative;
}

.slick-dots li button:before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	opacity: 1;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #606060;
	background-color: #606060;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
}

.slick-dots li.slick-active {
	width: 10px;
}

.slick-dots li.slick-active button {
	cursor: default;
	width: 10px;
	background: transparent;
}

.slick-dots li.slick-active button:before {
	border: 1px solid #2e78c7;
	background-color: #2e78c7;
}

@media only screen and (min-width: 960px) {
	.slick-dots li {
		margin: 0 10px;
	}
}

.slick-dotted.slick-slider {
	margin: 0 auto;
}

.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 45%;
	display: block;
	width: 30px;
	height: 30px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}

button.slick-next.slick-arrow,
button.slick-prev.slick-arrow {
	width: 30px;
	height: 30px;
	position: absolute;
	/* top: calc(50% + 48px); */
	z-index: 50;
}

button.slick-next.slick-arrow:before,
button.slick-prev.slick-arrow:before {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	opacity: 1;
	background-repeat: no-repeat;
}

button.slick-next.slick-arrow {
	right: 0px;
}

button.slick-next.slick-arrow:before {
	background-image: url(../images/icons/arrows/slider-arrow-right.svg);
}

button.slick-next.slick-arrow:hover:before {
	background-image: url(../images/icons/arrows/slider-arrow-right-hover.svg);
}

button.slick-prev.slick-arrow {
	left: 10px;
}

button.slick-prev.slick-arrow:before {
	background-image: url(../images/icons/arrows/slider-arrow-left.svg);
}

button.slick-prev.slick-arrow:hover:before {
	background-image: url(../images/icons/arrows/slider-arrow-left-hover.svg);
}

button.slick-prev.slick-disabled:before,
button.slick-next.slick-disabled:before {
	opacity: 0;
}
// .cs-l-mainKv__slider {
// 	max-width: 1920px;
// 	margin: 0 auto;
// }