.global-announcement {
  padding-left: 0px;
  padding-right: 0px; }

.global-alert-wrapper {
  padding: 0rem 2.2rem 0;
  margin-top: 56px; }

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.align-items-start {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important; }

.badge {
  background-color: #ff6000 !important;
  font-size: 14px;
  padding: 0.2rem 0.3rem;
  margin-right: 7px; }

.block_section_title {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e78c7;
  text-align: left;
  margin-bottom: 6px; }

.act_title {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  text-align: left; }

.activity_text {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.act_content {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #767676; }

.act_note {
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #215eb1;
  text-align: left; }

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.block_section {
  max-width: 600px; }

.actitvity_wrap {
  background-color: #ededed;
  padding: 35px; }
  .actitvity_wrap .img-responsive {
    width: 250px; }

.news_wrap {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  padding: 10px 22px 0px;
  height: calc(100% - 33px); }
  .news_wrap li {
    position: relative;
    padding: 14px 0px;
    border-bottom: 1px solid #e2e2e2;
    margin-left: 7px; }
  .news_wrap ul li::before {
    content: "\2022";
    color: #88ceff;
    display: inline-block;
    width: 8px;
    position: absolute;
    left: -15px; }

.news_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .news_title a.link_more {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2e78c7; }

.cus_time {
  color: white;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  padding: 8px 0 16px; }

.f-recommandLinkLogo {
  width: 158px; }

.f-logo-white {
  width: 106px;
  margin-left: 10px; }

.footer_function_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer_function_link ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer_function_link ul li {
      padding: 0px 50px 10px; }

.footer-img-icon {
  width: 30px;
  margin: 0px 7px; }

.footerWrap.footer_all_rights_reserve {
  min-height: 55px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
