@charset "UTF-8";
.cub-text-wrapper a.cub-button {
  height: 50px;
  background-color: #ffffff;
  color: #2e78c7;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  min-width: 190px;
  display: inline-block;
  border-radius: 4px; }
  .cub-text-wrapper a.cub-button:hover {
    background-color: #3db2f9;
    color: #fff; }

.displayRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 25px; }

.normalButton {
  border-radius: 70px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#51be77), to(#27ae58));
  background-image: -webkit-linear-gradient(top, #51be77, #27ae58);
  background-image: -o-linear-gradient(top, #51be77, #27ae58);
  background-image: linear-gradient(to bottom, #51be77, #27ae58);
  width: 140px;
  height: 40px;
  font-size: 14px;
  letter-spacing: 0.6px;
  text-align: center;
  margin: 10px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  cursor: pointer; }
  .normalButton:hover {
    background: #3db2f9; }
  .normalButton a {
    color: #fff; }

a.header-small-btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #2e78c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2e78c7; }
  a.header-small-btn:hover {
    background-color: #2e78c7;
    color: #fff; }
  a.header-small-btn .bx-user {
    font-size: 18px; }
  a.header-small-btn.active {
    background-color: #2e78c7;
    color: #fff; }

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.global-announcement {
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0px;
  color: #2f2f2f !important;
  padding-left: 15px;
  border: solid 1px #ffeba2; }

.global-alert {
  background-color: #fffaea; }

.global-alert-wrapper.container {
  max-width: 1280px;
  width: 100%; }

.global-alert-wrapper {
  padding: 10px 0px; }

.align-items-start {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important; }

.badge {
  background-color: #2e78c7;
  font-size: 14px;
  padding: 0.2rem 0.3rem;
  margin-right: 7px;
  color: #fff !important;
  border-radius: 3px; }

.block_section_title {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e78c7;
  text-align: left;
  margin-bottom: 6px; }

.act_title {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  text-align: left; }

.activity_text {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.act_content {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #767676; }

.act_note {
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #215eb1;
  text-align: left; }

.block_section {
  max-width: 600px; }

.activity_swiper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.actitvity_wrap {
  background-color: #ededed;
  padding: 35px; }
  .actitvity_wrap .img-responsive {
    width: 250px; }

.news_wrap {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  padding: 10px 22px 0px;
  height: calc(100% - 33px); }
  .news_wrap li {
    position: relative;
    padding: 14px 0px;
    border-bottom: 1px solid #e2e2e2;
    margin-left: 7px; }
  .news_wrap ul li::before {
    content: "\2022";
    color: #88ceff;
    display: inline-block;
    width: 8px;
    position: absolute;
    left: -15px; }

.news_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .news_title a.link_more {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2e78c7; }

.cus_time {
  color: white;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  padding: 8px 0 16px; }

.f-recommandLinkLogo {
  width: 158px; }

.f-logo-white {
  width: 106px;
  margin-left: 10px; }

.footer_function_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer_function_link ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer_function_link ul li {
      padding: 0px 50px 10px; }

.footer-img-icon {
  width: 30px;
  margin: 0px 7px; }

.footerWrap.footer_all_rights_reserve {
  min-height: 55px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.FlexColumnTop {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.sideFunction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 50;
  position: fixed;
  right: 0px;
  -webkit-transition: all ease-in-out .5s;
  -o-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s; }
  @media all and (max-width: 640px) {
    .sideFunction {
      width: 100%; } }
  @media all and (max-width: 640px) {
    .sideFunction .myFavorBtn {
      display: none; } }
  .sideFunction .sideFixedBtn {
    background-color: #848484;
    width: 70px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    cursor: pointer; }
    .sideFunction .sideFixedBtn.active {
      background-color: #2e78c7; }
    .sideFunction .sideFixedBtn:hover {
      background-color: #2e78c7; }
    .sideFunction .sideFixedBtn img {
      max-width: 25px; }
    .sideFunction .sideFixedBtn p {
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      color: #ffffff;
      padding: 3px; }

.sideFunctionBox {
  width: 460px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #edf3e9;
  padding: 30px; }
  @media all and (max-width: 640px) {
    .sideFunctionBox {
      width: 100%; } }
  .sideFunctionBox .sideFunctionTitle {
    font-size: 24px;
    padding-bottom: 8px;
    color: #4a4a4a;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .sideFunctionBox .sideFunctionTitle span {
      font-size: 13px; }
    .sideFunctionBox .sideFunctionTitle a.editor span {
      color: #00994e;
      text-decoration: underline; }
    .sideFunctionBox .sideFunctionTitle .editorActice i:before {
      content: "\e906"; }
  .sideFunctionBox .sideFunctionClose {
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 12px; }
  .sideFunctionBox .sideFunctionIcon {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px; }

@media all and (max-width: 640px) {
  .myFavorBox {
    padding: 30px 7px; }
    .myFavorBox .sideFunctionTitle {
      margin: 0px 28px; } }

@media all and (max-width: 374px) {
  .rateExchangeBox {
    padding: 30px 5px; } }

.favorFunction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .favorFunction i {
    font-size: 50px; }
  .favorFunction .smallDelete {
    display: none;
    font-size: 12px; }
  .favorFunction .favorOuter {
    width: 33%; }
  .favorFunction .choosedFavor {
    position: relative;
    cursor: pointer;
    width: 115px;
    height: 115px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
    padding-top: 15px; }
    .favorFunction .choosedFavor:hover {
      background-color: #fff;
      border-radius: 8px; }
      .favorFunction .choosedFavor:hover .sideFunctionIcon {
        background-color: #edf3e9; }
      .favorFunction .choosedFavor:hover .smallDelete {
        display: block;
        position: absolute;
        width: 23px;
        height: 23px;
        top: 5px;
        padding: 4px;
        border: 2px solid #9b9b9b;
        border-radius: 20px;
        right: 5px; }
  .favorFunction .choosedFavorHover {
    background-color: #fff;
    border-radius: 8px; }
    .favorFunction .choosedFavorHover .sideFunctionIcon {
      background-color: #edf3e9; }
    .favorFunction .choosedFavorHover .smallDelete {
      display: block;
      position: absolute;
      width: 23px;
      height: 23px;
      top: 5px;
      padding: 4px;
      border: 2px solid #9b9b9b;
      border-radius: 20px;
      right: 5px; }
  .favorFunction p {
    padding: 5px;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #4a4a4a; }
  .favorFunction .addSetting {
    height: 115px; }
    .favorFunction .addSetting p {
      color: #00994e; }

.closeFunction {
  right: -460px; }
  @media all and (max-width: 640px) {
    .closeFunction {
      right: 0px;
      display: none; } }

.mt-30 {
  margin-top: 30px; }

button:focus {
  outline: none; }

.sticky .svg-icon g,
.sticky .svg-icon path {
  fill: #fff; }

li.on .svg-icon g,
li.on .svg-icon path {
  fill: #2e78c7; }

.iconTransparent {
  opacity: 0; }

.l-mobileHeader__contact {
  background-image: url(../image/a-fa.png);
  background-size: 35px; }

.hrSpan {
  border-top: 1px solid #2560ae;
  height: 1px;
  display: block; }

.f-footerContactUs-icon a {
  color: #333; }

.f-footerContactUs-icon a:hover {
  color: #2e78c7; }

.cubinvest-c-riskProvisions__action span {
  color: #6d6d6d; }

[data-switch-content="riskProvisions"] {
  display: none; }

/* 桌機板 */
@media only screen and (min-width: 320px) {
  header.header .info-menu,
  .l-menu {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 3px 8px rgba(2, 2, 2, 0.15);
    box-shadow: 0px 3px 8px rgba(2, 2, 2, 0.15); }
  .c-menuLv1__name {
    background-color: rgba(255, 255, 255, 0);
    height: 47px;
    line-height: 25px; }
  header.header {
    width: 100%;
    /*  overflow: hidden; */ }
  header.header.sticky {
    position: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: -80px;
    width: 100%;
    background-color: #fff;
    z-index: 1000; }
  header.header.sticky .c-menuLv1 > li {
    width: 100%; }
  header.header .sub-menu {
    border-top: 1px solid #0068b6; }
  header.header .sub-menu .change-unit-menu li div {
    border: none;
    padding: 0px 15px 0px; }
  header.header .sub-menu .change-unit-menu {
    position: absolute;
    bottom: 20px; }
  header.header .sub-menu .change-unit-menu li a.translateLanguage {
    padding: 4px 10px !important;
    margin-top: -10px;
    color: #fff;
    background: #2e78c7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: 500;
    display: inline-block; }
  header.header .sub-menu .change-unit-menu li a.translateLanguage:hover {
    background: #2e78c7; }
  header.header .sub-menu .change-unit-menu li.active {
    background: none; }
  header.header .sub-menu .change-unit-menu li.active:before {
    width: 0;
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0px 8px 8px 8px;
    bottom: -19px;
    left: 32px;
    border-color: transparent transparent #00994f transparent; }
  .c-menuLv1__name span img {
    width: 25px;
    height: 25px;
    margin-right: 3px;
    vertical-align: middle; }
  .c-menuLv1 {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .c-menuLv1 > li {
    width: 185px; }
  .c-menuLv1__child {
    top: 47px;
    border-bottom: 0px;
    -webkit-box-shadow: 0 0px 8px rgba(2, 2, 2, 0.15);
    box-shadow: 0 0px 8px rgba(2, 2, 2, 0.15); }
  .c-menuLv1 > li:last-of-type .c-menuLv1__name {
    opacity: 1;
    color: #fff;
    background: #ff8500; }
  .c-menuLv1 > li:last-of-type .c-menuLv1__name:hover {
    cursor: pointer; }
  .c-menuLv1__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px; }
  .l-menu {
    border-bottom: 0px;
    background-color: #fff; }
  .c-menuLv1__name {
    background-color: #fff; }
  a.c-menuLv1__name:hover:not(:last-child) {
    border-top: 1px solid #2e78c7;
    margin-top: -1px;
    color: #2e78c7; }
  .c-menuLv2__name {
    padding: 0 0 15px 0;
    background-color: transparent;
    color: #2e78c7;
    font-weight: normal;
    border-bottom: 1px solid #2e78c7;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px; }
  .c-menuLv2 {
    padding: 0px;
    background-image: -webkit-gradient(linear, left top, right top, from(#edf3e9), to(#ffffff));
    background-image: -webkit-linear-gradient(left, #edf3e9, #ffffff);
    background-image: -o-linear-gradient(left, #edf3e9, #ffffff);
    background-image: linear-gradient(to right, #edf3e9, #ffffff); }
  .c-menuLv2 > li {
    border-bottom: 0;
    float: left;
    width: 100%;
    padding: 15px;
    /* height: 100%; */
    text-align: left; }
  a.c-menuLv3__name.cubinvest-o-link.cubinvest-o-link--menu {
    line-height: 1.2; }
  /* 快速登入按鈕 */
  .c-promote,
  .fastEntry {
    width: 138px; }
  .c-fastEntry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0px 2px;
    width: 14.285714%;
    max-height: 275px; }
  .c-fastEntryIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 60px;
    width: 100%;
    margin: 10px 0px;
    border-radius: 30px;
    background-color: #edf3e9; }
  .c-fastEntryIcon:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#51be77), to(#27ae58));
    background-image: -webkit-linear-gradient(top, #51be77, #27ae58);
    background-image: -o-linear-gradient(top, #51be77, #27ae58);
    background-image: linear-gradient(to bottom, #51be77, #27ae58);
    cursor: pointer; }
  .c-fastEntryIcon:hover p {
    color: #fff; }
  .c-fastEntryIcon img {
    width: 30px;
    height: 30px;
    margin: 5px; }
  .c-fastEntryIcon .iconSpan:before {
    content: '';
    margin: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    background-size: contain; }
  .c-fastEntryIcon p {
    word-break: keep-all;
    padding-right: 5px;
    font-size: 13px;
    color: #2e78c7; }
  .c-fastEntryIcon {
    height: 45px; }
  .rwd header.header .container,
  .l-menu__container,
  .c-menuLv1__child {
    width: 100%; }
  .l-menu__container {
    max-width: 1280px; }
  .c-menuLv1 > li:last-of-type {
    border: 0px solid #dfdfdf; }
  /* fixxheader */
  header.is-fixHeader.sticky .l-menu,
  header.is-fixHeader.sticky .c-menuLv1__name,
  header.is-fixHeader.sticky .c-menuLv1__child:hover .c-menuLv1__name {
    background-color: #2e78c7;
    color: #fff; }
  header.is-fixHeader.sticky .c-menuLv1__name:hover {
    background-color: #fff; }
  header.is-fixHeader.sticky .c-menuLv1 > li:not(:last-child):hover .c-menuLv1__name {
    color: #2e78c7;
    background-attachment: #fff; }
  /* icon */
  .c-menuLv1 > li:not(:last-child):hover .c-menuLv1__name {
    color: #2e78c7; }
  .c-menuLv1__name span:before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: cover; }
  .c-menuLv1 > li:not(:last-child):hover .c-menuLv1__name {
    border-top: 4px solid #2e78c7;
    margin-top: -1px;
    padding-top: 7px;
    -webkit-box-shadow: 0px -1px 1px rgba(2, 2, 2, 0.15);
    box-shadow: 0px -1px 1px rgba(2, 2, 2, 0.15);
    z-index: 9999; }
  header.is-fixHeader.sticky .c-menuLv1 > li:not(:last-child):hover .c-menuLv1__name {
    color: #2e78c7;
    background: #fff;
    border-top: 4px solid #2e78c7;
    margin-top: -1px; }
  header.is-fixHeader.sticky .c-menuLv1 > li:last-child .c-menuLv1__name {
    background: #2e78c7; }
  header.header .info-menu .logo {
    left: 15px; }
  .footerGoTop img {
    width: 40px;
    cursor: pointer; }
  .footerWrap {
    max-width: 1280px;
    margin: 0 auto; }
  .footer .f-footerContactUs {
    background-color: #f8f8f8; }
  .f-contactWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 25px; }
  .footer .f-footerContactUs img {
    max-width: 65px; }
  .f-footerContactUs-icon {
    text-align: center; }
  .f-footerContactUs-icon:hover {
    color: #2e78c7;
    cursor: pointer; }
  .f-footerContactUs-icon:hover img {
    -webkit-box-shadow: 0px 0px 8px #e6e6e6;
    box-shadow: 0px 0px 8px #e6e6e6;
    border-radius: 30px; }
  .f-footerContactUs-icon p {
    padding-top: 10px; }
  .f-warningWord {
    text-align: center;
    background-color: #fff;
    padding: 20px; }
  .f-warningWord p {
    font-size: 15px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #6d6d6d;
    line-height: 2; }
  .f-warningWord p.f-bigWarning {
    font-size: 18px;
    padding: 10px 0px 20px 0px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #6d6d6d; }
  .f-recommandLink {
    background-color: #2e78c7; }
  .f-recommandLink ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .f-recommandFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .pt-30 {
    padding-top: 30px; }
  .f-recommandLink .allRightReserve {
    color: #fff;
    float: right;
    padding-right: 25px;
    font-size: 14px; }
  .f-recommandLink .iconSpan:before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: contain; }
  .footer .back-to-top {
    float: right;
    text-align: right;
    width: 50px;
    height: 50px;
    z-index: 9999;
    cursor: pointer;
    background-size: contain;
    background-image: url(../image/top.png); }
  .footer .a-fa {
    text-align: right;
    width: 75px;
    height: 70px;
    position: fixed;
    background-repeat: no-repeat;
    right: 32px;
    cursor: pointer;
    z-index: 100;
    background-size: contain;
    background-image: url(../image/a-fa.png); }
  .footer .back-to-top:hover {
    background-image: url(../image/top-hover.png); }
  .footer .back-to-top.sticky {
    right: 50px; }
  .footer .back-to-top:hover {
    background-position: 0px; }
  .footer .back-to-top a {
    display: block;
    width: 50px;
    height: 50px; }
  .rwd-mobile {
    display: none !important; }
  .rwd-desktop {
    display: block !important; } }

@media only screen and (min-width: 1080px) {
  .c-fastEntryIcon {
    height: 50px; }
  .c-fastEntryIcon p {
    padding-left: 3px;
    font-size: 14px; }
  .c-fastEntryIcon img {
    width: 35px;
    height: 35px;
    margin: 5px; }
  .c-fastEntryIcon .iconSpan:before {
    content: '';
    margin: 5px 5px 5px 8px;
    width: 35px;
    height: 35px;
    position: absolute;
    background-size: contain; } }

@media only screen and (min-width: 1280px) {
  .c-fastEntryIcon {
    width: 100%; }
  .c-fastEntryIcon p {
    padding-left: 5px;
    font-size: 15px; }
  .c-fastEntryIcon .iconSpan:before {
    content: '';
    margin: 5px 5px 5px 10px;
    width: 35px;
    height: 35px;
    position: absolute;
    background-size: contain; } }

/* 手機版 */
@media only screen and (max-width: 959.68px) {
  .back-to-top {
    float: right;
    text-align: right;
    width: 50px;
    position: fixed;
    height: 50px;
    right: 15px;
    cursor: pointer;
    background-size: contain;
    background-image: url(../image/top.png); }
  .rwd-mobile {
    display: block !important; }
  .rwd-desktop {
    display: none !important; }
  .c-menuLv1 li:hover > a {
    color: #2e78c7; }
  .c-fastEntryIcon {
    text-align: center; }
  .c-fastEntryIcon p {
    padding-top: 10px; } }

header.header {
  z-index: 999;
  width: 100%;
  min-width: 1280px; }
  @media all and (max-width: 1920px) {
    header.header {
      min-width: 1280px; } }
  @media all and (max-width: 1280px) {
    header.header {
      min-width: 1080px; } }
  @media all and (max-width: 1080px) {
    header.header {
      min-width: 960px; } }

header.header .info-menu,
.l-menu {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 3px 8px rgba(2, 2, 2, 0.15);
  box-shadow: 0px 3px 8px rgba(2, 2, 2, 0.15); }

.c-menuLv1__name {
  background-color: rgba(255, 255, 255, 0);
  height: 47px;
  line-height: 25px; }

.l-cubHeader {
  display: block; }

@media all and (max-width: 1280px) {
  .c-menuLv2 {
    width: calc(100% - 14.285714%); } }

@media all and (max-width: 1080px) {
  .c-menuLv2 {
    width: calc(100% - 150px); } }

.c-fastEntry {
  padding: 10px;
  width: 14.285714%; }
  @media all and (max-width: 1920px) {
    .c-fastEntry {
      padding: 10px;
      width: 14.285714%; } }
  @media all and (max-width: 1280px) {
    .c-fastEntry {
      padding: 0px; } }
  @media all and (max-width: 1080px) {
    .c-fastEntry {
      padding: 0px;
      width: 150px; } }

.footer {
  display: block;
  min-width: 1280px; }
  .footer a {
    font-size: 14px; }
  @media all and (max-width: 1920px) {
    .footer {
      min-width: 1280px; } }
  @media all and (max-width: 1280px) {
    .footer {
      min-width: 960px; } }
  @media all and (min-width: 959.91px) {
    .footer {
      display: block; } }

.footerWrap {
  min-width: 1280px;
  margin: 0 auto; }
  @media all and (max-width: 1920px) {
    .footerWrap {
      min-width: 1280px; } }
  @media all and (max-width: 1280px) {
    .footerWrap {
      min-width: 960px; } }

.cubinvest-l-content--fixTop {
  padding-top: 128px; }

@media only screen and (min-width: 960px) {
  .cubinvest-l-content--fixTop {
    padding-top: 128px; } }

.is-fixHeader.sticky + .container {
  padding-top: 128px; }
