.sticky .svg-icon g,
.sticky .svg-icon path {
  fill: #fff;
}

li.on .svg-icon g,
li.on .svg-icon path {
  fill: #00994e;
}


/*  */
.iconTransparent {
  opacity: 0;
}

.l-mobileHeader__contact {
  background-image: url(../image/a-fa.png);
  background-size: 35px;
}

.hrSpan {
  border-top: 1px solid #00994e;
  height: 1px;
  display: block;
}

.f-footerContactUs-icon a {
  color: #333;
}

.f-footerContactUs-icon a:hover {
  color: #00994e;
}

.cubinvest-c-riskProvisions__action span {
  color: #6d6d6d;
}

[data-switch-content="riskProvisions"] {
  display: none;
}

.iconTransparent {
  opacity: 0; }

.l-mobileHeader__contact {
  background-image: url(../image/a-fa.png);
  background-size: 35px; }

.hrSpan {
  border-top: 1px solid #00994e;
  height: 1px;
  display: block; }

.f-footerContactUs-icon a {
  color: #333; }

.f-footerContactUs-icon a:hover {
  color: #00994e; }

.cubinvest-c-riskProvisions__action span {
  color: #6d6d6d; }

[data-switch-content="riskProvisions"] {
  display: none; }

.c-fastEntryIcon {
  text-align: center;
  display: none; }

@media only screen and (min-width: 4000px) {
  .cubinvest-l-content--fixTop {
    padding-top: 50px; } }

/* 手機版 */
@media only screen and (max-width: 4000px) {
  .back-to-top {
    float: right;
    text-align: right;
    width: 50px;
    position: fixed;
    height: 50px;
    right: 15px;
    cursor: pointer;
    background-size: contain;
    background-image: url(../image/top.png); }
  .rwd-mobile {
    display: block !important; }
  .rwd-desktop {
    display: none !important; }
  .c-menuLv1 li:hover > a {
    color: #00994e; }
  .c-fastEntryIcon {
    text-align: center;
    display: none; }
  .c-fastEntryIcon p {
    padding-top: 10px; } }

.smart_all {
  display: none; }

.m_bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 100;
  display: none;
  top: 0; }

.m_icon {
  /* width: 40px;
            height: 40px; */
  background: url(../image/alpha_icon.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  /* position: absolute; */
  /* right: 10px; */
  background-position: 10px 5px;
  /* top: 5px; */
  /* padding-top: 10px; */
  cursor: pointer; }

.circCont {
  display: inline-block;
  z-index: 12000;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 50px; }

.circle {
  width: 40px;
  height: 40px;
  background: url(../image/m_close.png);
  background-size: 40px 40px;
  border: none;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  top: 5px;
  right: 10px; }

.m_smart_box {
  display: none; }

.m_smart_box.on {
  display: block;
  position: fixed;
  z-index: 101;
  bottom: 0px;
  width: 100%;
  margin: 0;
  left: 0%;
  height: 100%;
  padding-top: 50px;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-animation-name: box_lightbox;
  animation-name: box_lightbox;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s; }

.m_smart_box.on iframe {
  height: 100%; }

@-webkit-keyframes box_lightbox {
  0% {
    -webkit-transform: translateY(85%);
    transform: translateY(85%); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes box_lightbox {
  0% {
    -webkit-transform: translateY(85%);
    transform: translateY(85%); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
    .footer{
      line-height: 1.5
    }
      .footer a {
        font-size: 12px;
      }
    .footer a.cubinvest-o-link {
      color: #00994e;
    }

    a.cubinvest-o-link:hover {
      color: #00994e;
      text-decoration: underline;
    }

    .cubinvest-c-riskProvisions__content {
      line-height: 1.5;
    }

    .cubinvest-l-wrap.cubinvest-l-wrap--pd {
      margin: 0 auto;
    }