/*  */

.container-wrap {
    background-color: #eff5f1;
}

.news-container.layout-table {
    width: 80%;
    max-width: 1280px;
    min-width: 960px;
}

.jumbotron {
    position: relative;
}

.mybank-login-container {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    z-index: 2;
    top: 0;
    cursor: pointer;
    /*.login-panel-info-wrap {
      width:280px;
      top: 50%;
      margin-top: -140px;
      position: relative;
  }*/
}

.mybank-login-container .login-panel-wrap {
    width: 280px;
    top: 50%;
    margin-top: -170px;
    position: relative;
}

.green-title {
    color: #00aa42;
    font-size: 20px;
    line-height: 26px;
    font-weight: normal;
    margin-bottom: 10px;
}

.exchange-panel-cell {
    width: 320px;
}

.exchange-panel {
    width: 280px;
}

.exchange-panel .green-title {
    margin-bottom: 0;
}

.exchange-panel .panel-header {
    padding: 0 0;
    position: relative;
    margin-top: 20px;
}

.exchange-panel .panel-header h3 {
    font-size: 20px;
    text-align: left;
}

.exchange-panel .panel-header .link-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
}

.exchange-panel .panel-body {
    margin-top: 10px;
}

.exchange-panel .message {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    font-family: "�s�ө���";
}

.exchange-panel a.ad {
    display: block;
    margin-top: 15px;
}

.exchange-panel a.ad img {
    width: 100%;
    border: 1px solid #ddd;
}

.exchange-list table {
    box-shadow: none;
    font-size: 14px;
    margin-bottom: 10px;
}

.exchange-list table th,
.exchange-list table td {
    padding: 10px;
    line-height: 20px;
}

.exchange-list table th {
    background-color: #00aa42;
    color: #fff;
}

.exchange-list table td {
    color: black;
}

.exchange-list table tr:nth-child(2n+1) {
    background-color: #fff;
}

.exchange-calc .layout-table {
    margin-bottom: 10px;
}

.exchange-calc .cell-input {
    width: 40%;
}

.exchange-calc .cell-input input {
    width: 100%;
    height: 30px;
    font-size: 16px;
    color: #00aa42;
    border: 1px solid #c0c0c0;
    line-height: 30px;
    margin-top: 5px;
    padding: 0 5px;
}

.exchange-calc .cell-btn {
    width: 20%;
}

.exchange-calc .exchange-convert {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 18px;
    background-repeat: no-repeat;
    background-image: url(../images/calcExchange.png);
}

.exchange-calc .exchange-convert:hover {
    background-position: -21px 0;
}

.exchange-btns {
    margin-bottom: 10px;
}

.exchange-btns>.btn-hollow {
    display: block;
    border: 1px solid #00a94f;
    color: #00aa42;
    padding: 10px;
    line-height: 20px;
    font-size: 14px;
    border-radius: 0;
    width: 49%;
    float: left;
}

.exchange-btns>.btn-hollow:hover {
    background-color: #00a94f;
    color: #fff;
}

.exchange-btns>.btn-hollow:hover:after {
    background-position: -18px 0;
}

.exchange-btns>.btn-hollow+.btn-hollow {
    float: right;
}

/*  */
.NewExchangeArea {
    display: flex;
    justify-content: space-between;
    width: 65.5%;
}

.cubinvest-l-mainKv {
    min-width: 960px;
    overflow: hidden;
}

.cubinvest-l-mainKv:before {
    content: '';
    background-image: url(../images/banner-bg.png);
    position: absolute;
    width: 55%;
    z-index: 1;
    height: 420px;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

@media all and (max-width: 1920px) {
    .cubinvest-l-mainKv:before {
        min-width: 785px;
    }
}

@media all and (max-width: 1080px) {
    .cubinvest-l-mainKv:before {
        min-width: 700px;
    }
}

.cubinvest-c-banner__background {
    height: 420px;
}

button.slick-next.slick-arrow:before {
    background-image: url(../images/banner-arrow-right.png);
    width: 30px;
    height: 30px;
    background-size: contain;
}

button.slick-next.slick-arrow:hover:before {
    background-image: url(../images/banner-arrow-right.png);
}

button.slick-prev.slick-arrow:before {
    background-image: url(../images/banner-arrow-left.png);
    width: 30px;
    height: 30px;
    background-size: contain;
}

button.slick-prev.slick-arrow:hover:before {
    background-image: url(../images/banner-arrow-left.png);
}

.cubinvest-l-mainKv__text {
    position: absolute;
    top: 0px;
    z-index: 3;
    height: 100%;
    width: 1280px;
    margin-top: -530px;
}

@media all and (max-width: 1960px) {
    .cubinvest-l-mainKv__text {
        left: 3%;
    }
}

@media all and (max-width: 1280px) {
    .cubinvest-l-mainKv__text {
        left: 4.3%;
    }
}

.cub-text-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    min-height: 220px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 200px 0px 0px;
}

.cub-text-wrapper h2 {
    width: 361px;
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #ffffff;
}

.cub-text-wrapper span {
    width: 360px;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #ffffff;
    display: block;
}

.cub-text-wrapper a.cub-button {
    width: 140px;
    margin-top: 30px;
}

.cubinvest-l-mainKv__nav {
    position: absolute;
    bottom: 35px;
    z-index: 55;
}

@media all and (max-width: 1960px) {
    .cubinvest-l-mainKv__nav {
        left: 3%;
    }
}

@media all and (max-width: 1280px) {
    .cubinvest-l-mainKv__nav {
        left: 4.3%;
    }
}

.slick-dots li.slick-active button:before {
    border: 1px solid #3db2f9;
    background-color: #3db2f9;
}

.slick-dots {
    text-align: left;
}

.slick-dots li {
    margin: 0 10px;
}

.slick-dots li button:before {
    background-color: #fff;
    border: 1px solid #fff;
}

.cubinvest-l-wrap {
    max-width: 1280px;
    margin: 0 auto;
}

@media all and (max-width: 1920px) {
    .cubinvest-l-wrap {
        max-width: 1280px;
    }
}

.cubinvest-l-mainBlock {
    padding: 60px 0;
}

.cubinvest-l-mainBlock-small {
    padding: 20px 0 40px;
}

.cubinvest-l-mainBlock--bglightGrn {
    background-color: #edf3e9;
    min-width: 960px;
}

.mainBlockWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    position: relative;
    min-width: 960px;
}

@media all and (max-width: 1280px) {
    .mainBlockWrap {
        padding: 0px 10px;
    }
}

@media all and (max-width: 1080px) {
    .mainBlockWrap {
        padding: 0px 10px;
    }
}

body:not(.isScrolled) .card:hover .cardText {
    -webkit-animation: slideInUp .3s ease-in-out;
    animation: slideInUp .3s ease-in-out;
}

body.isScrolled .card a.cardInside:hover .cardImage img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.card {
    width: 390px;
    height: 465px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

@media all and (max-width: 1920px) {
    .card {
        width: 390px;
        height: 465px;
    }
}

@media all and (max-width: 1280px) {
    .card {
        width: 330px;
        height: auto;
    }
}

@media all and (max-width: 1080px) {
    .card {
        width: 300px;
        height: auto;
    }
}

.card:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.card img {
  max-width: 390px;
  max-height: 232px;
  width: 100%;
  height: 100%;
}

.card img.serviceIcon {
    position: absolute;
    z-index: 3;
    width: 75px;
    height: 75px;
    left: calc(50% - 37.5px);
    top: calc(50% - 37.5px);
}

@media all and (max-width: 1920px) {
    .card img.serviceIcon {
        width: 75px;
        height: 75px;
        left: calc(50% - 37.5px);
        top: calc(50% - 37.5px);
    }
}

@media all and (max-width: 1280px) {
    .card img.serviceIcon {
        width: 65px;
        height: 65px;
        left: calc(50% - 33.5px);
        top: calc(50% - 50px);
    }
}

@media all and (max-width: 1080px) {
    .card img.serviceIcon {
        width: 60px;
        height: 60px;
        left: calc(50% - 30px);
        top: calc(50% - 55px);
    }
}

.card .cardText {
    padding: 35px 35px 30px 35px;
}

@media all and (max-width: 1920px) {
    .card .cardText {
        padding: 35px 35px 30px 35px;
        height:235px;
    }
}

@media all and (max-width: 1280px) {
    .card .cardText {
        padding: 35px 15px 30px;
    }
}

@media all and (max-width: 1080px) {
    .card .cardText {
        padding: 35px 10px 30px;
    }
}

.card .cardText .cardTitle {
    height: 30px;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #00994e;
    border-bottom: 1px solid #00994e;
    width: 90px;
    margin: 0 auto 15px;
}

.card .cardText .cardSubTitle {
    color: #00994e;
    letter-spacing: 0.4px;
    font-size: 18px;
    height: 27px;
    overflow: hidden;
}

@media all and (max-width: 1920px) {
    .card .cardText .cardSubTitle {
        font-size: 18px;
    }
}

@media all and (max-width: 1280px) {
    .card .cardText .cardSubTitle {
        font-size: 17px;
    }
}

@media all and (max-width: 1080px) {
    .card .cardText .cardSubTitle {
        font-size: 16px;
    }
}

.card .cardText .cardContentText {
    max-height: 50px;
    overflow: hidden;
    height:50px;
}

.card .cardText .cardButton {
    border-radius: 70px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#51be77), to(#27ae58));
    background-image: -webkit-linear-gradient(top, #51be77, #27ae58);
    background-image: -o-linear-gradient(top, #51be77, #27ae58);
    background-image: linear-gradient(to bottom, #51be77, #27ae58);
    width: 140px;
    height: 40px;
    font-size: 14px;
    letter-spacing: 0.6px;
    text-align: center;
    margin: 10px auto 0px;
}

.card .cardText .cardButton:hover {
    background: #3db2f9;
}

.card .cardText .cardButton span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
}

.card .cardImage {
    overflow: hidden;
    z-index: 2;
}

.card .cardImage img {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.card a.cardInside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
/* 
.card a.cardInside:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.card a.cardInside:hover img.serviceIcon {
    top: calc(50% - 25px);
}

@media all and (max-width: 1920px) {
    .card a.cardInside:hover img.serviceIcon {
        top: calc(50% - 25px);
    }
}

@media all and (max-width: 1280px) {
    .card a.cardInside:hover img.serviceIcon {
        top: calc(50% - 10px);
    }
}

@media all and (max-width: 1080px) {
    .card a.cardInside:hover img.serviceIcon {
        top: calc(50% - 0px);
    }
} */

.card a.cardInside:hover .cardText>.cardButton {
    background: #3db2f9;
}

.isScrolled .card a.cardInside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.isScrolled .card a.cardInside:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.isScrolled .card a.cardInside:hover img.serviceIcon {
    top: calc(50% - 37.5px);
}

@media all and (max-width: 1920px) {
    .isScrolled .card a.cardInside:hover img.serviceIcon {
        top: calc(50% - 37.5px);
    }
}

@media all and (max-width: 1280px) {
    .isScrolled .card a.cardInside:hover img.serviceIcon {
        top: calc(50% - 50px);
    }
}

@media all and (max-width: 1080px) {
    .isScrolled .card a.cardInside:hover img.serviceIcon {
        top: calc(50% - 55px);
    }
}

.mainCalcArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mainCalcArea .panel-body {
    max-width: 390px;
}

@media all and (max-width: 1920px) {
    .mainCalcArea .panel-body {
        max-width: 390px;
        width: 390px;
    }
}

@media all and (max-width: 1280px) {
    .mainCalcArea .panel-body {
        max-width: 320px;
    }
}

@media all and (max-width: 1080px) {
    .mainCalcArea .panel-body {
        max-width: 300px;
        padding: 0px 10px;
    }
}

.mainCalcTitle {
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 0.1px;
    color: #00994e;
    margin: 23px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@media all and (max-width: 1280px) {
    .mainCalcTitle {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.smallRemark {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    padding-top: 15px;
    color: #4a4a4a;
}

.mg-top-50 {
    margin-top: 50px;
}

.exchange-calc .exchange-convert {
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/exchange.png);
}

.exchange-calc .exchange-convert:hover {
    background-position: 0px;
    background-image: url(../images/exchangeHover.png);
}

.exchange-list table th {
    background-color: #00994e;
}

.exchange-list table tr:nth-child(2n+1) {
    background-color: #f8f8f8;
}

.select2-container--default {
    width: 160px !important;
}

@media all and (max-width: 1920px) {
    .select2-container--default {
        width: 160px !important;
    }
}

@media all and (max-width: 1280px) {
    .select2-container--default {
        width: 128px !important;
    }
}

@media all and (max-width: 1080px) {
    .select2-container--default {
        width: 120px !important;
    }
}

.exchange-calc .cell-input input {
    margin-top: 40px;
    height: 40px;
}

.exchange-calc .cell-input input:focus {
    outline: 0px solid #00994e;
    border: 1px solid #00a94f;
}

.select2-container .select2-selection--single {
    height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    font-size: 16px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 11px;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 7px;
    background-repeat: no-repeat;
}

.select2-results__option {
    font-size: 16px;
}

.announcementNews li {
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}

.announcementNews li:last-of-type {
    border-bottom: 0px;
}

.announcementNews li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.announcementNews li a:hover span,
.announcementNews li a:hover p {
    color: #00994e;
}

.announcementNews li span {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.1px;
    color: #00994e;
}

.announcementNews li p {
    font-size: 14px;
    padding-left: 10px;
    letter-spacing: 0.1px;
    color: #111111;
}
/* intro  */
.welcomeBanner{
  background: #ecfcdb;
  display: none;
  border-radius: 4px;
  padding: 0px;
     pointer-events: none;
  cursor: pointer;
}
.welcomeBanner img{
    max-width: 700px;
   
}
@media all and (max-width: 640px) {
.welcomeBanner img {
    max-width: 100%;
}
}
.fancybox-close-small{
pointer-events: all;
}
.fancybox-close-small:after{
  content: "×";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  font: 20px/30px Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #20614b;
  font-weight: 300;
  text-align: center;
  border-radius: 3px;
  border-width: 0;
  background: transparent;
  transition: background .25s;
  box-sizing: border-box;
  z-index: 2;
}
.anno-btn.anno-btn-skip:after {
    content: "×";
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    font: 20px/30px Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #fff;
    font-weight: 300;
    text-align: center;
    border-radius: 3px;
    border-width: 0;
    background: transparent;
    transition: background .25s;
    box-sizing: border-box;
    z-index: 2;
}
.fancybox-close-small:focus:after {
    outline: 0px ;
}
.fancybox-close-small:hover:after {
    color: #20614b;
     background-color: #bde8c0;
}
.anno-btn.anno-btn-skip:hover:after {
    color: #fff;
    background: rgba(255, 255, 255, 0.404);
}
.fancybox-container{
  z-index:100000;
}
.nextStep{
 font-size: 18px;
 font-weight: 600;
text-align: right;
  cursor: pointer;
 color: #00994e;
     position: absolute;
     right: 30px;
     bottom: 15px;
}

/* header.header {
  position: absolute;
} */

.anno{
   border-radius: 4px;
    width: 220px;
}

.anno .anno-inner .anno-btn-container .anno-btn {
     color: #fff;
     font-weight: 300;
     text-align: center;
     border-radius: 3px;
     border-width: 0;
     background: rgba(255, 255, 255, 0.404);
     transition: background .25s;
     box-sizing: border-box;
     z-index: 2;
     margin:5px;
     padding: 0px 10px;
     outline: none;
}
.anno .anno-inner .anno-btn-container .anno-btn:hover {
        color: #555;
        background: #eee;
        outline: none;
}
.anno .anno-inner,
.anno .anno-inner .anno-btn-container {
    background: #ff7313;
    border:0;
    border-radius: 4px;
    display: inline-block;
}
.anno.anno-target-center-top .anno-arrow,
.anno.anno-target-top .anno-arrow{

        border-color: #ff7313 transparent;
}
.anno .anno-inner .anno-content{
      font-family: '微軟正黑體';
    color: #ffffff;
    padding: 15px;
}
.annoTitle{
    font-size: 20px;
    font-weight: 600;
    font-family: '微軟正黑體';
    color: #ffffff;
}
.annoTextContent{
    margin-top:10px;
}
.anno-overlay{
     background: rgba(0, 0, 0, 0.75);
}
   
/* anno打開時首頁header變化 */
.anno-overlay + body{
   overflow: hidden;
       margin-right: 17px;
   
}
.anno-overlay+body header.header {
    position: inherit;
}

.anno-overlay+body .cubinvest-l-main {

margin-top: -128px;
opacity: 0.6;
}