@charset "UTF-8";
.cubinvest-u-guideLineOuterMargin-W {
  margin: -7.5px; }
  .cubinvest-u-guideLineOuterMargin-W--md {
    margin: -15px; }

.cubinvest-u-guideLineMargin-W {
  margin: 7.5px; }
  .cubinvest-u-guideLineMargin-W--md {
    margin: 15px; }

.cubinvest-l-colorBox {
  margin-top: 15px; }
  .cubinvest-l-colorBox:before, .cubinvest-l-colorBox:after {
    content: " ";
    display: table; }
  .cubinvest-l-colorBox:after {
    clear: both; }

.cubinvest-c-colorBox {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  float: left; }
  .cubinvest-c-colorBox__main {
    width: 175px;
    height: 70px;
    position: relative; }
  .cubinvest-c-colorBox__desc {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff; }
    .cubinvest-c-colorBox__desc--colorDark {
      color: #333333; }
  .cubinvest-c-colorBox--bdDark {
    border: 1px solid #979797; }
  .cubinvest-c-colorBox--primary1 .cubinvest-c-colorBox__main {
    background-color: #00994E; }
  .cubinvest-c-colorBox--primary2 .cubinvest-c-colorBox__main {
    background-color: #FF6000; }
  .cubinvest-c-colorBox--bg1 .cubinvest-c-colorBox__main {
    background-color: #F9FBF7; }
  .cubinvest-c-colorBox--bg2 .cubinvest-c-colorBox__main {
    background-color: #F8F8F8; }
  .cubinvest-c-colorBox--secondary1 .cubinvest-c-colorBox__main {
    background-color: #F37D84; }
  .cubinvest-c-colorBox--secondary2 .cubinvest-c-colorBox__main {
    background-color: #3DB3E9; }
  .cubinvest-c-colorBox--secondary3 .cubinvest-c-colorBox__main {
    background-color: #CC915B; }
  .cubinvest-c-colorBox--secondary4 .cubinvest-c-colorBox__main {
    background-color: #FE9013; }
  .cubinvest-c-colorBox--secondary5 .cubinvest-c-colorBox__main {
    background-color: #5EC693; }
  .cubinvest-c-colorBox--font1 .cubinvest-c-colorBox__main {
    background-color: #333333; }
  .cubinvest-c-colorBox--font2 .cubinvest-c-colorBox__main {
    background-color: #4A4A4A; }
  .cubinvest-c-colorBox--font3 .cubinvest-c-colorBox__main {
    background-color: #6D6D6D; }
  .cubinvest-c-colorBox--border1 .cubinvest-c-colorBox__main {
    background-color: #E8E8E7; }
  .cubinvest-c-colorBox--error1 .cubinvest-c-colorBox__main {
    background-color: #FF2828; }
  .cubinvest-c-colorBox--chart1 .cubinvest-c-colorBox__main {
    background-color: #fe9013; }
  .cubinvest-c-colorBox--chart2 .cubinvest-c-colorBox__main {
    background-color: #3db3e9; }
  .cubinvest-c-colorBox--chart3 .cubinvest-c-colorBox__main {
    background-color: #f37d84; }
  .cubinvest-c-colorBox--chart4 .cubinvest-c-colorBox__main {
    background-color: #5ec693; }
  .cubinvest-c-colorBox--chart5 .cubinvest-c-colorBox__main {
    background-color: #cc915b; }
  .cubinvest-c-colorBox--chart6 .cubinvest-c-colorBox__main {
    background-color: #6d6d6d; }
  .cubinvest-c-colorBox--chart7 .cubinvest-c-colorBox__main {
    background-color: #fe6113; }
  .cubinvest-c-colorBox--chart8 .cubinvest-c-colorBox__main {
    background-color: #3dcae9; }
  .cubinvest-c-colorBox--chart9 .cubinvest-c-colorBox__main {
    background-color: #f37daa; }
  .cubinvest-c-colorBox--chart10 .cubinvest-c-colorBox__main {
    background-color: #b6c65e; }
  .cubinvest-c-colorBox--chart11 .cubinvest-c-colorBox__main {
    background-color: #cc7a5b; }
  .cubinvest-c-colorBox--pie1 .cubinvest-c-colorBox__main {
    background-color: #37B979; }
  .cubinvest-c-colorBox--pie2 .cubinvest-c-colorBox__main {
    background-color: #FE9013; }
  .cubinvest-c-colorBox--pie3 .cubinvest-c-colorBox__main {
    background-color: #3DB3E9; }
  .cubinvest-c-colorBox--definition1 .cubinvest-c-colorBox__main {
    background-color: #333333; }
  .cubinvest-c-colorBox--definition2 .cubinvest-c-colorBox__main {
    background-color: #00994E; }
  .cubinvest-c-colorBox--definition3 .cubinvest-c-colorBox__main {
    background-color: #ffffff; }

.cubinvest-l-deviceBlock {
  margin-bottom: 20px; }
  .cubinvest-l-deviceBlock__desc {
    padding-top: 20px; }
    .cubinvest-l-deviceBlock__desc > p + p {
      margin-top: 5px; }
  .cubinvest-l-deviceBlock__image {
    margin-top: 15px; }
  .cubinvest-l-deviceBlock__content {
    margin-top: 15px; }
  .cubinvest-l-deviceBlock--half {
    width: 400px;
    overflow: hidden;
    display: inline-block; }
  .cubinvest-l-deviceBlock__listTitle {
    font-size: 18px;
    font-weight: bold; }

.cubinvest-l-deviceBox--pc {
  width: 50%;
  display: inline-block;
  overflow: hidden; }

.cubinvest-c-device {
  border: solid 1px #a9a9a9;
  padding: 1px 6px;
  color: #a9a9a9;
  display: inline-block;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .cubinvest-c-device > span {
    vertical-align: middle; }

.cubinvest-o-device {
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }
  .cubinvest-o-device:after, .cubinvest-o-device:before {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat; }
  .cubinvest-o-device:before {
    content: ''; }
  .cubinvest-o-device > span {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
    font-size: 1rem; }
  .cubinvest-o-device--suffix:before {
    content: none; }
  .cubinvest-o-device--suffix:after {
    content: ''; }
  .cubinvest-o-device--suffix > span {
    margin-left: 0;
    margin-right: 8px; }
  .cubinvest-o-device:after, .cubinvest-o-device:before {
    background-image: url(../images/guideline/icon-mobile.svg); }
  .cubinvest-o-device--pc:after, .cubinvest-o-device--pc:before {
    background-image: url(../images/guideline/icon-pc.svg); }
  .cubinvest-o-device--mobile:after, .cubinvest-o-device--mobile:before {
    background-image: url(../images/guideline/icon-mobile.svg); }
  @media only screen and (min-width: 960px) {
    .cubinvest-o-device:after, .cubinvest-o-device:before {
      background-image: url(../images/guideline/icon-pc.svg); }
    .cubinvest-o-device--pc:after, .cubinvest-o-device--pc:before {
      background-image: url(../images/guideline/icon-pc.svg); }
    .cubinvest-o-device--mobile:after, .cubinvest-o-device--mobile:before {
      background-image: url(../images/guideline/icon-mobile.svg); } }

.cubinvest-l-guidelineAtom__head {
  margin-bottom: 15px; }

.cubinvest-l-guidelineAtom__item {
  display: inline-block; }
  .cubinvest-l-guidelineAtom__item--bgGray {
    background-color: #d8d8d8;
    padding: 10px; }

.cubinvest-l-guidelineAtom--bgGray {
  background-color: #d8d8d8;
  padding: 10px; }

.cubinvest-l-guidelineAtom + .cubinvest-l-guidelineAtom {
  margin-top: 15px; }

.cubinvest-l-guidelineEmbedBlock__container {
  border: 1px solid #e8e8e7; }

.cubinvest-l-guidelineEmbedBlock__elements {
  padding: 30px 15px; }
  .cubinvest-l-guidelineEmbedBlock__elements--pdFull {
    padding: 30px 0; }

.cubinvest-l-guidelineEmbedBlock__code {
  display: none; }

.cubinvest-l-guidelineEmbedBlock__action {
  text-align: right;
  margin-top: 10px; }

.cubinvest-guideLineT1 {
  font-size: 30px; }

.l-urlIframe {
  max-width: 970px; }
  .l-urlIframe--pc {
    width: 970px; }
  .l-urlIframe--mobile {
    max-width: 360px;
    width: 100%; }

.cubinvest-l-guidelineCmsBlock + .cubinvest-l-guidelineCmsBlock {
  margin-top: 30px; }

.cubinvest-l-guidelineCmsAtom__title {
  font-weight: bold; }

.cubinvest-l-guidelineCmsAtom__image {
  margin-top: 15px; }

.cubinvest-l-guidelineCmsAtom + .cubinvest-l-guidelineCmsAtom {
  margin-top: 30px; }

.cubinvest-o-awdIcon {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background-color: #00994e;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 4px 8px;
  font-size: 12px;
  text-align: center;
  margin: 0 5px; }

html,
body {
  height: auto; }

.cubinvest-l-container {
  overflow: initial; }

.guideline {
  overflow-x: hidden; }

.cubinvest-l-guideLineWrap {
  padding: 80px 80px 80px 100px; }

.cubinvest-l-guidelineContainer {
  display: none; }
  .cubinvest-l-guidelineContainer[data-menu-nav-container="色彩"] {
    display: block; }
  .cubinvest-l-guidelineContainer__intro {
    margin-bottom: 50px; }
  .cubinvest-l-guidelineContainer__head {
    margin-bottom: 50px; }
  .cubinvest-l-guidelineContainer__desc {
    margin-top: 15px; }
    .cubinvest-l-guidelineContainer__desc:before, .cubinvest-l-guidelineContainer__desc:after {
      content: " ";
      display: table; }
    .cubinvest-l-guidelineContainer__desc:after {
      clear: both; }

.cubinvest-l-guideLineSidebar {
  position: fixed;
  background: #f9fbf7;
  width: 290px;
  height: 100vh;
  -webkit-box-shadow: 0 2px 7px 0 rgba(211, 209, 209, 0.5);
  box-shadow: 0 2px 7px 0 rgba(211, 209, 209, 0.5); }
  .cubinvest-l-guideLineSidebar__content {
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    z-index: 995;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .cubinvest-l-guideLineSidebar__wrap {
    text-align: left; }
  .cubinvest-l-guideLineSidebar__logo {
    padding: 14px 0;
    padding-left: 15px; }
    .cubinvest-l-guideLineSidebar__logo > span {
      display: inline-block;
      font-size: 16px;
      line-height: normal;
      margin-left: 10px;
      vertical-align: middle; }
  .cubinvest-l-guideLineSidebar__burger {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    padding: 22px 15px;
    background-color: #00994e; }
    .cubinvest-l-guideLineSidebar__burger:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      background-image: url(../images/guideline/menu-hambuger.svg);
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: contain;
      background-size: contain; }
  .cubinvest-l-guideLineSidebar__nav {
    overflow: auto;
    height: calc(100vh - 66px); }
  @media only screen and (min-width: 960px) {
    .cubinvest-l-guideLineSidebar__content {
      -webkit-box-shadow: none;
      box-shadow: none; }
    .cubinvest-l-guideLineSidebar__logo > span {
      font-size: 18px; }
    .cubinvest-l-guideLineSidebar__burger {
      display: inline-block; } }

.cubinvest-l-guideLineMain {
  margin-left: 290px; }

.cubinvest-l-nav {
  width: auto;
  max-height: 100%;
  height: auto;
  top: 0;
  left: auto;
  right: -100%;
  z-index: 994;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s; }

.cubinvest-l-guidelineMenu {
  padding: 0;
  z-index: 995; }
  .cubinvest-l-guidelineMenu > li {
    list-style-type: none; }
  .cubinvest-l-guidelineMenu__lv2 {
    width: 100%;
    font-size: 0; }
  .cubinvest-l-guidelineMenu__text {
    display: table;
    width: 100%;
    padding: 20px;
    color: #00994e;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    vertical-align: middle;
    font-weight: bold;
    cursor: pointer; }
  .cubinvest-l-guidelineMenu__action {
    display: table-cell;
    width: 15px;
    position: relative;
    vertical-align: middle; }
    .cubinvest-l-guidelineMenu__action:after {
      content: '';
      display: inline-block;
      width: 15px;
      height: 2px;
      background-color: #00994e;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .cubinvest-l-guidelineMenu__action:before {
      content: '';
      display: inline-block;
      width: 2px;
      height: 15px;
      background-color: #00994e;
      position: absolute;
      right: 6.5px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

.is-open .cubinvest-l-guidelineMenu__action:before {
  display: none; }

.cubinvest-l-guidelineMenuLv2 {
  font-size: 16px;
  padding-left: 0;
  display: none; }
  .cubinvest-l-guidelineMenuLv2 > li {
    list-style-type: none;
    color: #111111;
    cursor: pointer; }
    .cubinvest-l-guidelineMenuLv2 > li a {
      display: block;
      padding: 18px 40px; }
  @media only screen and (min-width: 960px) {
    .cubinvest-l-guidelineMenuLv2 > li:hover a {
      background-color: #00994e;
      color: #fff; } }

.cubinvest-u-pageTitle {
  font-size: 36px;
  color: #00994e; }

.cubinvest-l-guidelineMain {
  margin: 30px 0; }
  .cubinvest-l-guidelineMain__title {
    text-align: center; }

.cubinvest-l-guidelineComponent + .cubinvest-l-guidelineComponent {
  margin-top: 30px; }

.cubinvest-l-guidelineComponent__head + .cubinvest-l-guidelineComponent__content {
  margin-top: 7.5px; }

.cubinvest-l-guidelineComponent__title {
  font-size: 24px;
  color: #00994e;
  font-weight: bold; }

.cubinvest-l-guidelineComponent__desc {
  margin-top: 5px; }

.cubinvest-l-guidelineComponent__item {
  display: inline-block; }
  .cubinvest-l-guidelineComponent__item + .cubinvest-l-guidelineComponent__item {
    margin-left: 30px; }

.cubinvest-l-guidelineComponent__content:before, .cubinvest-l-guidelineComponent__content:after {
  content: " ";
  display: table; }

.cubinvest-l-guidelineComponent__content:after {
  clear: both; }

.cubinvest-l-guidelineComponent__iframe {
  margin-top: 12.5px; }

.l-iconGrid {
  list-style-type: none;
  padding: 0; }
  .l-iconGrid > li {
    display: inline-block; }

.cubinvest-l-highlightBox {
  position: relative;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fafafa; }
  .cubinvest-l-highlightBox:after {
    position: absolute;
    top: 0;
    left: 0;
    content: 'example';
    display: inline-block;
    padding: 6px;
    background-color: #b4b4b4;
    color: #fff;
    font-size: 12px; }

pre {
  overflow: auto;
  margin: 0; }
  pre.prettyprint {
    border: none !important;
    height: 200px; }

.cubinvest-l-fontGridTable--fontFamily .cubinvest-l-fontGridTable__th {
  color: #6d6d6d; }
  .cubinvest-l-fontGridTable--fontFamily .cubinvest-l-fontGridTable__th + .cubinvest-l-fontGridTable__th {
    padding-left: 30px; }

.cubinvest-l-fontGridTable--fontFamily .cubinvest-l-fontGridTable__td + .cubinvest-l-fontGridTable__td {
  padding-left: 30px; }

.cubinvest-l-fontGridTable--typography .cubinvest-l-fontGridTable__td + .cubinvest-l-fontGridTable__td {
  padding-left: 55px; }

.cubinvest-l-fontGridTable__thead {
  display: table-header-group; }

.cubinvest-l-fontGridTable__tr {
  display: table-row; }
  .cubinvest-l-fontGridTable__tr--fzLg {
    font-size: 30px; }

.cubinvest-l-fontGridTable__th {
  display: table-cell;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 14px;
  padding: 5px;
  vertical-align: middle; }

.cubinvest-l-fontGridTable__tbody {
  display: table-row-group; }

.cubinvest-l-fontGridTable__td {
  display: table-cell;
  width: 150px;
  padding: 10px 5px;
  width: auto;
  vertical-align: middle;
  text-align: left;
  border-top: none; }
