.cub-text-wrapper a.cub-button {
	height: 50px;
	background-color: #ffffff;
	color: $main-blue;
	padding: 12px 20px;
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	min-width: 190px;
	display: inline-block;
	border-radius: 4px;

	&:hover {
		background-color: $light-blue;
		color: #fff;
	}
}

.displayRight {
	display: flex;
	justify-content: flex-end;
	margin-top: 25px;
}

.normalButton {
	border-radius: 70px;
	background-image: linear-gradient(to bottom, #51be77, #27ae58);
	width: 140px;
	height: 40px;
	font-size: 14px;
	letter-spacing: 0.6px;
	text-align: center;
	margin: 10px auto 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	cursor: pointer;

	&:hover {
		background: $light-blue;
	}

	a {
		color: #fff;
	}

}

a.header-small-btn{
	width: 100px;
	height: 30px;
	border-radius: 5px;
	border: solid 1px $main-blue;
	display: flex;
	font-size: 16px;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	padding:6px;
	letter-spacing: normal;
	justify-content: center;
	align-items: center;
	color:$main-blue;
	&:hover{
		background-color:$main-blue;
		color:#fff;
	}
	.bx-user{
		font-size: 18px;
	}
	&.active{
		background-color:$main-blue;
		color:#fff;
	}
}
