.cub-text-wrapper a.cub-button {
	background-color: #fffee0;
	color: #e85200;
	padding: 12px 20px;
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	min-width: 190px;
	display: inline-block;
	border-radius: 4px;
	width: 140px;
	margin-top: 20px;

	&:hover {
		background-color: #feffb3;
		color: #dc4e00;
	}
	@include rwd-max-width(960px) {
		background-color: transparent;
		color: #fff;
		border: 1px solid #fff;
		min-width: 80px;
		margin-top: 10px;
		width: 88px;
		font-size: 14px;
		font-weight: normal;
		padding: 7px;
		&:hover {
			background-color: transparent;
			color: #fff;
		}
	}
}
.displayRight {
	display: flex;
	justify-content: flex-end;
	margin-top: 25px;
}

.normalButton {
	border-radius: 70px;
	background-image: linear-gradient(to bottom, #51be77, #27ae58);
	width: 140px;
	height: 40px;
	font-size: 14px;
	letter-spacing: 0.6px;
	text-align: center;
	margin: 10px auto 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	cursor: pointer;

	&:hover {
		background: $light-orange;
	}

	a {
		color: #fff;
	}

}

a.header-small-btn{
	width: 100px;
	height: 30px;
	border-radius: 5px;
	border: solid 1px $main-orange;
	display: flex;
	font-size: 16px;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	padding:6px;
	letter-spacing: normal;
	justify-content: center;
	align-items: center;
	color:$main-orange;
	&:hover{
		background-color:$main-orange;
		color:#fff;
		.bx-user {
			color:#fff;
		}
	}
	.bx-user{
		font-size: 18px;
		color: $main-orange;
	}
	&.active{
		background-color:$main-orange;
		color:#fff;
	}
}
