$main-yellow:#ffa81a;
$main-green:#00994e;
$light-green:#edf3e9;
$dark-blue-green:#004b31;
$main-blue:#2e78c7;
$light-blue:#3db2f9;
$main-orange:#ff6000;
$light-orange:#FC7C2E;

// 區塊顏色
$step-1-color:#fef4e9;
$step-2-color:#fdf8e2;
$step-3-color:#eef9f3;
// 區塊文字顏色

$step-2-text-color:#cc9901;
$step-3-text-color:#1ab6b7;