.d-flex {
	display: flex !important;

}

.cs-l-main {
	position: relative;
	min-height: calc(100vh - 330px);

	@include rwd-max-width(960px) {
		margin-top: 50px;
		min-height: calc(100vh - 267px);
	}
}

.fade:not(.show) {
	opacity: 1 !important;
}

// 公告 //
.global-announcement {
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 0px;
	color: #2f2f2f !important;
	padding-left: 15px;
	border: solid 1px #ffeba2;
}

.global-alert {
	background-color: #fffaea;
	position: absolute;
	top: 0;
	z-index: 22;
	width: 100%;
	opacity: 0.95;
}

.global-alert-wrapper.container {
	max-width: 1240px;
	width: 100%;
	font-size: 14px;

}

.global-alert-wrapper {
	padding: 10px 20px;
}

.align-items-start {
	align-items: flex-start !important;
}

.global-alert-wrapper .badge {
	background-color: $main-orange;
	font-size: 14px;
	padding: 4px 10px;
	margin-right: 12px;
	color: #fff !important;
	border-radius: 3px;
	font-weight: 100;
	@include rwd-max-width(960px){
		font-weight:normal;
	}
}

.iconLogin {
	margin: 0px 6px;
	padding: 0px;
}

// seven //

.block_section_title {
	font-size: 24px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $main-orange;
	text-align: left;
	margin-bottom: 6px;
	min-height: 33px;
}

.cs-l-container {
	width: 100%;

	@include rwd-min-width(1280px) {
		min-width: 1280px;
	}

}

.act_title,
.best_seller_title {
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;

	color: #4a4a4a;
	text-align: left;
	@include rwd-max-width(960px) {
		font-size: 20px;
	}
}

.activity_text {
	padding-left: 25px;
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: space-between;
	@include rwd-max-width(960px){
		padding:13px 20px;
	}
}

.act_content {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 4.5em;
	@include rwd-max-width(960px) {
		height: auto;
	}
}

.act_content,
.best_seller_content {
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	color: #767676;
	line-height: 1.5em;
}
.best_seller_content{
	font-size: 16px;
	@include rwd-max-width(960px){
		height: 100px;
	}
	@include rwd-max-width(640px) {
		height: 125px;
	}
	@include rwd-max-width(420px) {
		height: 140px;
	}
}


button.close {
	width: 15px;
	color: #f7b54e;

	&:hover,
	&:active,
	&:focus {
		color: #f7b54e;
	}
}

.act_note,
.best_seller_note {
	font-size: 13px;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.69;
	letter-spacing: normal;
	color: $main-orange;
	text-align: left;
	right: 30px;
	bottom: 15px;
	line-break: anywhere;
	// position: absolute;
}

.best_seller_title {
	font-size: 21px;
	margin-top: 30px;
	margin-bottom: 12px;
	@include rwd-max-width(960px){
		font-size: 20px;
		margin-top: 0px;
	}
}

.best_seller_text {
	padding: 0px 25px;
	position: relative;
	@include rwd-max-width(960px) {
		padding:13px 20px;
	}
	@include rwd-max-width(768px) {
		display: block;
	}
}


.block_section {
	max-width: 600px;
	width:100%;

	@include rwd-max-width(1280px) {
		max-width: 49%;
	}

	@include rwd-max-width(960px) {
		max-width: 100%;
	}

}

.block_section-lg {
	width: 100%;
}

.best_seller_outer {
	@include rwd-max-width(960px) {
		max-width: 100%;
		margin: 0px auto;
		overflow: hidden;
	}
	@include rwd-max-width(640px) {
		max-width: 640px;
	}
}

.best_seller_swiper {
	@include rwd-max-width(960px) {
		margin: 10px 0px;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	}
}

.best_seller {
	.img-responsive {
		max-width: 410px;

		@include rwd-max-width(960px) {
			max-width: 100%;
		}
	}

	.slick-list {
		max-width: 870px;
		margin: 0 auto;
		max-height: 240px;
		border: 1px solid #e2e2e2;

		@include rwd-max-width(960px) {
			overflow: initial;
			border: 0px;
		}
	}

	.slick-slide {
		margin: 0px;

		// @include rwd-max-width(960px) {
		// 	margin: 30px;
		// }
	}
}

.activity_swiper {
	justify-content: center;
	align-items: center;
	@include rwd-max-width(640px){
		display: block !important;
	}
}


@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05)
	}

	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05)
	}

	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse
}

.actitvity_wrap {
	background-color: #ededed;
	padding: 36px 45px 42px;
	
	@include rwd-max-width(1280px) {
		padding: 40px 45px 42px;
	}
	@include rwd-min-width(961px) {
		display: flex;
		align-items: center;
	}
	@include rwd-max-width(640px) {
		padding: 0px;
		background: #fff;;
		&.slick-slider{
			margin: 0 -10px;
		}
	.slick-slide{
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
		margin:10px 10px;
	}
	}

	.img-responsive {
		width: 100%;
		max-width: 257px;
		height: 100%;
		@include rwd-max-width(1280px) {
			width:200px;
		}
		@include rwd-max-width(640px){
			max-width: 100%;
			width:100%;
		}

		// overflow: hidden;
		@include rwd-min-width(640px) {
		&:hover {
			animation-name: pulse;
			animation-duration: 1s;
		}
	}
	}

}

// 新聞區塊
.news_wrap {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
	border: solid 1px #e0e0e0;
	background-color: #ffffff;
	padding: 14px 22px;
	font-size: 14px;

	li {
		position: relative;
		padding: 17px 0px;
		border-bottom: 1px solid #e2e2e2;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-left: 15px;

		&:last-child {
			border-bottom: 0px;
		}

		&:hover {
			background-color: #f5f6f7;
		}

		span.newsDay {
			color: #c75501;
			padding-right: 7px;

		}
	}

	ul li::before {
		content: "\2022";
		color: #c7550e;
		display: inline-block;
		width: 8px;
		position: absolute;
		left: 0px;
	}
}

.news_title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include rwd-max-width(960px){
		margin-top: 30px;
	}
	// a.link_more {
	// 	color: $main-orange;
	// }
}

a.link_more {
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #9b9b9b;
	&:hover{
		color: #ff6000;
	 i{
		color: #ff6000; 
	 }
	}
}

.FlexColumnTop {
	flex-direction: column;
}

.new-content-text {
	@include rwd-max-width(960px){
	display: block;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	}
	
}

// 側邊
.sideFunction {
	display: flex;
	z-index: 150;
	position: fixed;
	right: 0px;
	transition: all ease-in-out .5s;





	.sideFixedBtn {
		background-color: #848484;
		width: 70px;
		height: 70px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		cursor: pointer;

		&.active {
			background-color: $main-orange;
		}

		&:hover {
			// background-color: #00a94f;
			background-color: $main-orange;
		}

		img {
			max-width: 25px;

		}

		p {
			font-size: 12px;
			font-weight: 500;
			text-align: center;
			color: #ffffff;
			padding: 3px;
		}
	}
}

.sideRemark {
	font-size: 13px;
	padding-top: 7px;
}

.vaildNumber {
	margin-left: 10px;
	padding: 0px;
}

.sideFunctionBox {
	width: 360px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	background-color: #fff;
	padding: 22px 30px 0px;
	min-height: 370px;


	.sideFunctionTitle {
		font-size: 24px;
		padding-bottom: 8px;
		color: $main-orange;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		display: flex;
		justify-content: space-between;
		align-items: flex-end;


		span {
			font-size: 13px;
		}

		a.editor span {
			color: #00994e;
			text-decoration: underline;
		}

		.editorActice {
			i:before {
				content: "\e906";
			}
		}

	}

	.sideFunctionClose {
		font-size: 25px;
		cursor: pointer;
		position: absolute;
		right: 12px;
		top: 12px;
	}

	.sideFunctionIcon {
		padding: 15px;
		background-color: #d8d8d8;
		border-radius: 50px;
		color: $main-orange;
	}
}

.sideFunctionSubTitle {
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #4a4a4a;
	margin-top: 17px;
	margin-bottom: 9px;
}

.secondTitle {
	margin-top: 13px;
}

// 我的最愛側邊\
.myFavorBox {
	@include rwd-max-width(640px) {
		padding: 30px 7px;

		.sideFunctionTitle {
			margin: 0px 28px;
		}
	}
}

// 匯率側邊
.rateExchangeBox {
	@include rwd-max-width(374px) {
		padding: 30px 5px;


	}
}

.favorFunction {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	i {
		font-size: 30px;
	}

	.smallDelete {
		display: none;
		font-size: 12px;
	}

	.favorOuter {
		width: 33%;
	}

	.choosedFavor {
		position: relative;
		cursor: pointer;
		// width: 115px;
		height: 115px;
		margin: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		// margin-top: 15px;
		padding-top: 15px;

		&:hover {
			background-color: #fff;
			border-radius: 8px;

			.sideFunctionIcon {
				background-color: $main-orange;
				color: #fff;
			}

			.smallDelete {
				display: block;
				position: absolute;
				width: 23px;
				height: 23px;
				top: 5px;
				padding: 4px;
				border: 2px solid #9b9b9b;
				border-radius: 20px;
				right: 5px;
			}


		}
	}

	.choosedFavorHover {

		background-color: #fff;
		border-radius: 8px;

		.sideFunctionIcon {
			background-color: #edf3e9;
		}

		.smallDelete {
			display: block;
			position: absolute;
			width: 23px;
			height: 23px;
			top: 5px;
			padding: 4px;
			border: 2px solid #9b9b9b;
			border-radius: 20px;
			right: 5px;
		}



	}

	p {
		padding: 5px;
		font-size: 14px;
		line-height: 1.29;
		text-align: center;
		color: #4a4a4a;
	}

	.addSetting {
		height: 115px;

		p {
			color: #00994e;
		}

	}
}


.closeFunction {

	right: -360px;



}

.mt-30 {
	margin-top: 30px;
}

button:focus {
	outline: none;
}

.btn-light-blue {
	background-color: #66aaf1;
	color: #fff;
	cursor: pointer;

	&:hover {
		color: #fff;
	}
}

.queryItemBtn {
	text-align: center;
	margin: 33px auto;

	.btn-light-blue {
		padding: 8px 33px;
	}
}

.sell_logo {
	width: 27px;
	height: 20px;
	margin-right: 5px;
	vertical-align: text-bottom;

	@include rwd-max-width(960px) {
		display: none;
	}
}

// 專門for ie 
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.footerWrap.footer_all_rights_reserve {
		margin-top: 20px;
	}

	.actitvity_wrap {
		margin-right: 30px;
	}

	.actitvity_wrap {

		.img-responsive {
			width: auto;
		}
	}

	.activity_text {
		display: inline-block;

		.act_title {
			margin-bottom: 12px;
		}

		.act_note {
			margin-top: 30px;
		}
	}
}