.card-body-container {
  max-width: 960px;
  width: 100%;
}

.steps {
  width: 100%;
  max-width: 960px;
  font-size: 14px;
  font-weight: 500;
  background: #fafafa;
}

.steps .step_progress {
  position: relative;
  padding: 30px 60px;
}

.steps .step_progress .bar_box {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  height: 3px;
  background: #e4e4e4;
}

.steps .step_progress .bar_box .bar {
  position: absolute;
  left: 0;
  width: 0%;
  height: 3px;
  background: #ff6000;
}

.steps .step_content {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 40px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps .step {
  text-align: center;
  cursor: pointer;
}

.steps .step .step_num {
  color: #e4e4e4;
  background: #e4e4e4;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
}

.steps .step.done .step_num {
  background: #ff6000;
  color: #ff6000;
  border: 2px solid #ff6000;
}

.steps .step.done .step_name {
  color: #ff6000;
}

.steps .step.active .step_num {
  background: #fafafa;
  color: #ff6000;
  border: 2px solid #ff6000;
}

.steps .step.active .step_name {
  color: #ff6000;
}

.search {
  background: #fef1ea;
  padding: 10px 20px;
}

.search h6 {
  font-weight: bold;
}

.search .btn-circle {
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
}

.order__table.mobile {
  display: none;
  text-align-last: left;
}

.order__table.mobile td {
  padding: 8px;
}

.order__table h6 {
  color: #2f2f2f;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.order__table table {
  text-align: center;
}

.order__table table thead {
  background: #fafafa;
}

.order__table table thead th {
  color: #757575;
  padding: 5px;
  font-size: 14px;
}

.order__table table td {
  padding: 10px;
  color: #333333;
}

.order__table table td img {
  margin: 0 10px;
}

.order__table table .detail {
  color: #ff6000;
}

.order__table.mobile .mobile_th {
  min-width: 100px;
  background: #f4f5f6;
  font-weight: bold;
}

.order__table.mobile table td {
  padding: 10px;
}

.order__table.mobile table td img {
  margin: 0px;
}

.pagination {
  position: relative;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination ul,
.pagination li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination ul li {
  border: 2px solid white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  line-height: 12px;
  text-align: center;
  border-radius: 3px;
  margin-right: 5px;
}

.pagination ul li:last-child {
  margin-right: 0;
}

.pagination ul li i {
  top: initial;
  line-height: 12px;
}

.pagination ul li.btn {
  border: 1px solid #e8e8e7;
  background: white;
}

.pagination ul li.active {
  border: 1px solid #ff6000;
  background: white;
}

.pagination ul li.unactive {
  cursor: not-allowed;
  border: 1px solid #f3f3f3;
  background: #f3f3f3;
}

.pagination .pagination__info {
  position: absolute;
  right: 0;
  bottom: 0;
}

.step__btns {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.step__btns .btns {
  max-width: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-right: 20px;
}

.step__btns .btns:last-child {
  margin: 0;
}

.step__finish {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.step__finish .finish__icon {
  margin-bottom: 10px;
}

.step__finish .finish__icon i {
  font-size: 3rem;
  color: #ff6000;
  padding: 3px;
  border-radius: 50%;
  border: 3px solid #f4f5f6;
}

.step__finish .finish__message p {
  font-size: 18px;
  color: #4a4a4a;
  line-height: 28px;
  margin: 0;
}

.step__finish .finish__message p span {
  color: #ff6000;
}

@media (max-width: 768px) {
  .order__table.web {
    display: none;
  }
  .order__table.mobile {
    display: block;
  }
  .pagination .pagination__info {
    margin-top: 10px;
    font-size: 12px;
    width: 100%;
    text-align: right;
    position: relative;
  }
}
