.main-menu.menu-light .navigation>li {
	margin: 0px;
}

.main-menu.menu-light .navigation li a {
	padding: 0px 1rem;
}

.main-menu.menu-light .navigation>li.nav-item.open>a,
.main-menu.menu-light .navigation>li.nav-item.sidebar-group-active>a {
	background: #fc7c2e1a;
	color: #ff6000;
	margin: 0px;
	padding: 10px 1.25rem;
	border-left: 2px solid #ff6000;
}

.main-menu {
	.nav-footer-info {
		display: none;
	}
}

.main-menu.expanded {
	.nav-footer-info {
		display: block;
	}
}

.nav-footer-info {

	li {
		padding: 0px 1.25rem;
	}
}

.nav-footer-icon {
	padding: 15px 1.25rem 0px;

	.nav-icon {
		width: 30px;
		margin-left: 15px;

		&:first-child {
			margin-left: 0px;
		}
	}
}

.main-menu.menu-light,
.main-menu.menu-light .navigation {
	background: #fff;
}

.main-menu.menu-light .navigation>li>ul>li:first-child>a {
	border-top: 0px;
}

.main-menu.menu-light .navigation>li.nav-item:not(.has-sub) a,
.main-menu.menu-light .navigation>li.nav-item a {
	padding: 10px 1.25rem
}

.nav-user-name {
	padding: 8px 0px;
}

.global-alert-wrapper {
	padding: 0rem 2.2rem 0;
	margin-top: 60px;

	.badge {
		font-size: 14px;
		padding: 0.35rem 1rem;
	}
}

.badge-link {
	color: #666;
	padding: 6px 14px;
	border-radius: 4px;
	border: solid 1px #ffeba2;
	background-color: #fffaea;
}

.link-blue {
	color: #1791f2
}

.global-announcement {
	padding-left: 0px;
	padding-right: 0px;

	.alert.alert-warning {
		border-radius: 0px;
		color: #2f2f2f !important;
	}

	.alert.alert-dismissible .close {
		color: #f7b54e
	}
}

.badge.badge-light-danger,
.badge.badge-light-grey {
	color: #fff !important;
	border-radius: 3px;
}

.badge.badge-light-danger {
	background-color: #FF5B5C !important;
}

.badge.badge-light-grey {
	background-color: #bababa !important;
}

.alert.alert-dismissible .close {
	color: #2f2f2f;
}

.img-responsive {
	max-width: 100%;
	width: 100%;
}

.header-navbar.fixed-top {
	background-color: #fff;
}

.info-word {
	font-size: 13px;
	font-weight: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #4a4a4a;
	cursor: pointer;
}

.card .card-title {
	font-weight: bold;
	color:#333;
}

.card-header:first-child {
	border-bottom: 1px solid #dfe3e7;
	margin-bottom: 1.4rem;
	padding: 1.4rem 1.7rem 1rem;
}

html body.navbar-sticky .app-content .content-wrapper {
	margin-top: 0px;
}

.seven-global ul#page-navigation-list li a {
	border-left: 0px;
}

.sidebar-right .sidebar-content {
	.card-header:first-child {
		margin-bottom: 0px;
	}

	.card-body {

		padding-bottom: 0px;
		padding: 0rem;
	}


	.badge.know_more {
		font-size: 1rem;
	}


	ul#page-navigation-list {


		li {
			color: #ff6000;
			border-bottom: 1px solid #dfe3e7;
			padding: 14px;
			position: relative;
			font-size: 14px;

			&:hover {
				background-color: #f5f6f7;
			}

			&:before {
				content: '.';

				position: absolute;
				font-size: 2rem;
				line-height: 0.8rem;

			}

			a.nav-link {
				color: #ff6000;
				padding-left: 2px;

				.nav-content {
					color: #2f2f2f;
					font-size: 13px;
				}

				.nav-link-time {
					font-size: 12px;
					color: #999999;
				}
			
			}

		}
	}
}

.info-i {
	width: 16px;
	cursor: pointer;
}

.text-primary {
	color: #ff6000;
}

.shop-area {
	display: flex;
	flex-wrap: wrap;

	.shop-list {
		width: 25%;
		text-align: center;
		padding: 2rem;
		margin: 1rem 0px;
		position: relative;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			border-bottom: 1px solid #dfe3e7;
		}

		&:after {
			content: '';
			border-right: 1px solid #dfe3e7;
			position: absolute;
			right: 0px;
			height: 80%;
			top: 0px;
		}

		&:nth-child(4):after {
			border-right: 0px solid #dfe3e7;
		}

		.shop-number {
			font-size: 24px;
			line-height: normal;
		}

		.shop-name {
			color: #2f2f2f;
		}

		&:hover {
			background-color: #fef1ea;
		}

		@media (max-width: 992px) {
			width: 50%;

			&:nth-child(2n):after {
				border-right: 0px solid #dfe3e7;
			}
		}
	}
}

.quick-link-function {
	display: flex;
	justify-content: center;
	align-items: center;

	p {
		margin-bottom: 0px;
		padding: 2rem 0px;

		i {
			font-size: 35px;
			vertical-align: middle;
			color: #ff6000;
			margin-right: 5px;
		}

		span {
			border-bottom: 1px solid #d6dbdf;
			padding-bottom: 5px;
		}
	}

	&:hover {
		background-color: #ff6000;

		i {
			color: #fff;
		}

		span {
			color: #fff;
		}
	}
}

.footer-static {
	p {
		font-size: 14px;
		color: #9b9b9b;
	}
}

.my_performance {
	width: 100%;
	border: 1px solid #e0e0e0;
	padding: 1.1rem;
	font-size: 16px;
	color: #2f2f2f;

	.performance-number {
		font-size: 22px;
		padding: 0 15px
	}
}
.content-column-one{
	max-width: 1080px;
}

@media (min-width: 992px) {
	.sidebar-right.sidebar-sticky {

		margin-top: 2rem;
	}

}

@media (max-width: 992px) {
	.sidebar-right.sidebar-sticky {
		padding-left: 2.2rem;
		padding-right: 2.2rem;
	}

	.my_performance {
		display: inline-block !important;

		.d-flex {
			display: inline-block !important;
		}
	}
}

// menu高度在某個尺寸下須作調整
@media (min-height: 768px) {
	.main-menu.expanded .nav-footer-info {
		position: absolute;
		font-size: 13px;
		color: #b3b3b3;
		bottom: 10rem;
	}
}